.sidebar {
  position: fixed;
  background-color: rgb(70, 70, 70);
  border-radius: 20px;
  padding: 10px;
  width: 300px;
  top: 0;
  right: 0;
  z-index: 9999;
}
.sidebar-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(255, 255, 255);

  h2 {
    padding: 10px 0px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 30px;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 1px white;
  }
  button {
    font-size: 20px;
  }
  button:hover {
    color: red;
  }
}

.favoriteCard {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 0px;
  h2 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.5rem;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 1px #fade4b;
  }
  span {
    color: white;
    font-style: italic;
  }
  button {
    transform: scale(0.7);
    color: rgb(197, 36, 36);
    &:hover {
      color: red;
      transform: scale(1);
    }
  }
}
